the-free-elected-peoples-democracy-of-libertyland/full-stack/node-red-data/data/flows.json
[
    {
        "id": "519f41f181c369f6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ae72b941.c54948",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ac9023fa9aff9274",
        "type": "mqtt-broker",
        "name": "docker mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "77a8be2.16f914",
        "type": "ui_tab",
        "name": "Joystick",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4367558e83e0f8a4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dc631fea2571b0b4",
        "type": "ui_group",
        "name": "diff-drive odom",
        "tab": "77a8be2.16f914",
        "order": 2,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "57a0b3381a62530e",
        "type": "ui_group",
        "name": "move-base odom",
        "tab": "77a8be2.16f914",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "212e6930236181ae",
        "type": "ui_group",
        "name": "joystick",
        "tab": "77a8be2.16f914",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a4201ca88159799e",
        "type": "ui_group",
        "name": "update position",
        "tab": "77a8be2.16f914",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4ddc713.cb9a58",
        "type": "ui_group",
        "name": "T1",
        "tab": "763667c5.ae1af8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "763667c5.ae1af8",
        "type": "ui_tab",
        "name": "LAB",
        "icon": "dashboard"
    },
    {
        "id": "7d0dfa7357709047",
        "type": "ui_group",
        "name": "Manage Locations",
        "tab": "77a8be2.16f914",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c245092ec9f39d52",
        "type": "mqtt out",
        "z": "519f41f181c369f6",
        "name": "",
        "topic": "/zumo/cmd_vel",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac9023fa9aff9274",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "bb672158a0c0a2a4",
        "type": "function",
        "z": "519f41f181c369f6",
        "name": "",
        "func": "nextMsg = {\n    linear: {\n        x: 0,\n        y: 0,\n        z: 0\n    },\n    angular: {\n        x: 0,\n        y: 0,\n        z: 0\n    }\n}\n\nif(msg.payload.distance > 0){\n    if (msg.payload.axis == \"vertical\"){\n        speed = msg.payload.vector.y * 0.3\n        nextMsg.linear.x = speed\n    }\n    if(msg.payload.axis == \"horizontal\"){\n        turningSpeed = msg.payload.vector.x * 3.1415 * 1\n        nextMsg.angular.z = -turningSpeed\n    }\n}\n\nreturn {\n    payload: nextMsg\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 360,
        "wires": [
            [
                "c245092ec9f39d52"
            ]
        ]
    },
    {
        "id": "7ff7b88e973c6fa2",
        "type": "ui_joystick",
        "z": "519f41f181c369f6",
        "name": "Forward/Back",
        "group": "212e6930236181ae",
        "order": 1,
        "width": "5",
        "height": "4",
        "trigger": "all",
        "timeInterval": "100",
        "useThemeColor": true,
        "color": "#000000",
        "threshold": 0.1,
        "directions": "ver",
        "shape": "squere",
        "centerAtRelease": true,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "df230dabd097cce8"
            ]
        ]
    },
    {
        "id": "a51db3a2a3d3f538",
        "type": "function",
        "z": "519f41f181c369f6",
        "name": "",
        "func": "\nreturn {\n    payload: {\n        header: {\n            frame_id: \"odom\",\n        },\n        pose: {\n            position: {\n                x: msg.payload.x,\n                y: msg.payload.y,\n                z: 0,\n            },\n            orientation: {\n                x: 0,\n                y: 0,\n                z: 0,\n                w: 1,\n            },\n        },\n    },\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1140,
        "wires": [
            [
                "3ee22f9028d46804"
            ]
        ]
    },
    {
        "id": "3ee22f9028d46804",
        "type": "mqtt out",
        "z": "519f41f181c369f6",
        "name": "",
        "topic": "/zumo/goal",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ac9023fa9aff9274",
        "x": 730,
        "y": 1140,
        "wires": []
    },
    {
        "id": "6e3c33288dcd2fd5",
        "type": "mqtt in",
        "z": "519f41f181c369f6",
        "name": "",
        "topic": "/zumo/odom",
        "qos": "2",
        "datatype": "json",
        "broker": "ac9023fa9aff9274",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1190,
        "y": 680,
        "wires": [
            [
                "024b93b03043bd10",
                "97c68b3bee98892d"
            ]
        ]
    },
    {
        "id": "ad192b61ed327d7a",
        "type": "mqtt in",
        "z": "519f41f181c369f6",
        "name": "",
        "topic": "/zumo/differential_drive/odom",
        "qos": "2",
        "datatype": "json",
        "broker": "ac9023fa9aff9274",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 960,
        "y": 840,
        "wires": [
            [
                "5fb6bd5a9cc05766",
                "872ac5d5b2564d9e",
                "32b9e69a0cd5aad9"
            ]
        ]
    },
    {
        "id": "024b93b03043bd10",
        "type": "ui_text",
        "z": "519f41f181c369f6",
        "group": "57a0b3381a62530e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "x",
        "format": "{{msg.payload.pose.pose.position.x}}",
        "layout": "row-left",
        "className": "",
        "x": 1430,
        "y": 620,
        "wires": []
    },
    {
        "id": "97c68b3bee98892d",
        "type": "ui_text",
        "z": "519f41f181c369f6",
        "group": "57a0b3381a62530e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "y",
        "format": "{{msg.payload.pose.pose.position.y}}",
        "layout": "row-left",
        "className": "",
        "x": 1430,
        "y": 660,
        "wires": []
    },
    {
        "id": "c8f9e55c9995cf2e",
        "type": "ui_numeric",
        "z": "519f41f181c369f6",
        "name": "",
        "label": "x",
        "tooltip": "",
        "group": "a4201ca88159799e",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "step": "0.1",
        "className": "",
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "b13dd1b07e3874da"
            ]
        ]
    },
    {
        "id": "c0d235b6891deab0",
        "type": "ui_numeric",
        "z": "519f41f181c369f6",
        "name": "",
        "label": "y",
        "tooltip": "",
        "group": "a4201ca88159799e",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "0.5",
        "step": "0.1",
        "className": "",
        "x": 510,
        "y": 1060,
        "wires": [
            [
                "5893bc73937a7a6a"
            ]
        ]
    },
    {
        "id": "0475f4256397cbfc",
        "type": "ui_button",
        "z": "519f41f181c369f6",
        "name": "",
        "group": "7d0dfa7357709047",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Add location",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "60f2ad22349337b6"
            ]
        ]
    },
    {
        "id": "60f2ad22349337b6",
        "type": "function",
        "z": "519f41f181c369f6",
        "name": "Add location",
        "func": "let x = global.get(\"x\")\nlet y = global.get(\"y\")\nlet name = global.get(\"name\")\nlet locations = global.get(\"locations\")\n\nif(name){\n    locations.push({name, x, y})\n    global.set(\"locations\", [... (new Set(locations))])\n}\n\nreturn {\n    options: locations.map(l=>({[l.name]: {x: l.x, y: l.y}})),\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"locations\", [])\nglobal.set(\"x\", 0)\nglobal.set(\"y\", 0)\nglobal.set(\"name\", \"---\")\n\nlet locations = global.get(\"locations\")\n\nreturn {\n    options: locations.map(l=>({[l.name]: {x: l.x, y: l.y}})),\n}",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 840,
        "wires": [
            [
                "16f155e1d00463d3"
            ]
        ]
    },
    {
        "id": "b13dd1b07e3874da",
        "type": "change",
        "z": "519f41f181c369f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "x",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "5893bc73937a7a6a",
        "type": "change",
        "z": "519f41f181c369f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "y",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "4476f5363ad940d4",
        "type": "ui_joystick",
        "z": "519f41f181c369f6",
        "name": "Left/Right",
        "group": "212e6930236181ae",
        "order": 1,
        "width": "5",
        "height": "4",
        "trigger": "all",
        "timeInterval": "100",
        "useThemeColor": true,
        "color": "#000000",
        "threshold": 0.1,
        "directions": "hor",
        "shape": "squere",
        "centerAtRelease": true,
        "x": 220,
        "y": 380,
        "wires": [
            [
                "64ef262879910720"
            ]
        ]
    },
    {
        "id": "df230dabd097cce8",
        "type": "change",
        "z": "519f41f181c369f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.axis",
                "pt": "msg",
                "to": "vertical",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 320,
        "wires": [
            [
                "bb672158a0c0a2a4"
            ]
        ]
    },
    {
        "id": "64ef262879910720",
        "type": "change",
        "z": "519f41f181c369f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.axis",
                "pt": "msg",
                "to": "horizontal",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 380,
        "wires": [
            [
                "bb672158a0c0a2a4"
            ]
        ]
    },
    {
        "id": "16f155e1d00463d3",
        "type": "ui_dropdown",
        "z": "519f41f181c369f6",
        "name": "",
        "label": "Location",
        "tooltip": "",
        "place": "Select option",
        "group": "a4201ca88159799e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "0c5a79739edd1305",
                "0dae8c14b365aec3"
            ]
        ]
    },
    {
        "id": "ed24c7ac0940d6e2",
        "type": "ui_button",
        "z": "519f41f181c369f6",
        "name": "",
        "group": "a4201ca88159799e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Go to location",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 1140,
        "wires": [
            [
                "cadd4aee5ac53e75"
            ]
        ]
    },
    {
        "id": "cadd4aee5ac53e75",
        "type": "function",
        "z": "519f41f181c369f6",
        "name": "",
        "func": "let x = global.get(\"x\")\nlet y = global.get(\"y\")\n\nreturn {\n    payload: {\n        x,\n        y,\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1140,
        "wires": [
            [
                "a51db3a2a3d3f538"
            ]
        ]
    },
    {
        "id": "850b028d5095d5e0",
        "type": "ui_text_input",
        "z": "519f41f181c369f6",
        "name": "",
        "label": "Location name",
        "tooltip": "",
        "group": "7d0dfa7357709047",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "sendOnBlur": false,
        "className": "",
        "topicType": "str",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "af06c5b585ed441a"
            ]
        ]
    },
    {
        "id": "af06c5b585ed441a",
        "type": "change",
        "z": "519f41f181c369f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "aeee0c4fdc5b1f09",
        "type": "function",
        "z": "519f41f181c369f6",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"name\", null)\nglobal.set(\"x\", 0)\nglobal.set(\"y\", 0)\nglobal.set(\"target\", null)\n",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "dedd4b3536d9eb35",
        "type": "ui_button",
        "z": "519f41f181c369f6",
        "name": "",
        "group": "7d0dfa7357709047",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear locations",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "c9664e9c562e3b4b"
            ]
        ]
    },
    {
        "id": "c9664e9c562e3b4b",
        "type": "change",
        "z": "519f41f181c369f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "locations",
                "pt": "global",
                "to": " []",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 900,
        "wires": [
            [
                "8d40fa6c5cd0ab1a"
            ]
        ]
    },
    {
        "id": "0dae8c14b365aec3",
        "type": "change",
        "z": "519f41f181c369f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.x",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "c8f9e55c9995cf2e"
            ]
        ]
    },
    {
        "id": "0c5a79739edd1305",
        "type": "change",
        "z": "519f41f181c369f6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1060,
        "wires": [
            [
                "c0d235b6891deab0"
            ]
        ]
    },
    {
        "id": "142f31acf5a92355",
        "type": "function",
        "z": "519f41f181c369f6",
        "name": "2 decimals",
        "func": "\nreturn {\n    payload: Number(msg.payload).toFixed(2)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 820,
        "wires": [
            [
                "2c452d741b231e9b"
            ]
        ]
    },
    {
        "id": "397b40c966c2bd36",
        "type": "function",
        "z": "519f41f181c369f6",
        "name": "2 decimals",
        "func": "\nreturn {\n    payload: Number(msg.payload).toFixed(2)\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 860,
        "wires": [
            [
                "eb05bcc9a5192110"
            ]
        ]
    },
    {
        "id": "2c452d741b231e9b",
        "type": "ui_text",
        "z": "519f41f181c369f6",
        "group": "dc631fea2571b0b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "x",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1610,
        "y": 820,
        "wires": []
    },
    {
        "id": "eb05bcc9a5192110",
        "type": "ui_text",
        "z": "519f41f181c369f6",
        "group": "dc631fea2571b0b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "y",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1610,
        "y": 860,
        "wires": []
    },
    {
        "id": "322143228061f0fd",
        "type": "ui_text",
        "z": "519f41f181c369f6",
        "group": "dc631fea2571b0b4",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "angle",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1790,
        "y": 900,
        "wires": []
    },
    {
        "id": "32b9e69a0cd5aad9",
        "type": "function",
        "z": "519f41f181c369f6",
        "name": "PoseStamped to yaw 2 decimals",
        "func": "\nlet quaternionZ = Number(msg.payload.pose.pose.orientation.z)\nlet yawRadians = 2 * Math.asin(quaternionZ)\nlet yawDegrees = (180/Math.PI) * yawRadians\nlet twoDecimals = yawDegrees.toFixed(2)\nreturn {\n    payload: twoDecimals\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 940,
        "wires": [
            [
                "322143228061f0fd"
            ]
        ]
    },
    {
        "id": "5fb6bd5a9cc05766",
        "type": "template",
        "z": "519f41f181c369f6",
        "name": "get x",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.pose.pose.position.x}}",
        "output": "str",
        "x": 1230,
        "y": 820,
        "wires": [
            [
                "142f31acf5a92355"
            ]
        ]
    },
    {
        "id": "872ac5d5b2564d9e",
        "type": "template",
        "z": "519f41f181c369f6",
        "name": "get y",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.pose.pose.position.y}}",
        "output": "str",
        "x": 1230,
        "y": 860,
        "wires": [
            [
                "397b40c966c2bd36"
            ]
        ]
    },
    {
        "id": "8d40fa6c5cd0ab1a",
        "type": "template",
        "z": "519f41f181c369f6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[]",
        "output": "str",
        "x": 540,
        "y": 900,
        "wires": [
            [
                "16f155e1d00463d3"
            ]
        ]
    },
    {
        "id": "9baec202.fcc6e",
        "type": "ui_dropdown",
        "z": "ae72b941.c54948",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "f4ddc713.cb9a58",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 580,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "276d9610.54d42a",
        "type": "inject",
        "z": "ae72b941.c54948",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 140,
        "wires": [
            [
                "1913cada.05b895"
            ]
        ]
    },
    {
        "id": "1913cada.05b895",
        "type": "change",
        "z": "ae72b941.c54948",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "[\"name1\", \"name2\",\"name3\",\"name4\"]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "9baec202.fcc6e",
                "9494803c.d15ad"
            ]
        ]
    },
    {
        "id": "9494803c.d15ad",
        "type": "debug",
        "z": "ae72b941.c54948",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "options",
        "x": 580,
        "y": 200,
        "wires": []
    }
]